<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Events</h4>
          <div class="d-flex justify-content-between">
            <p class="card-category">All Scheduled Events</p>
            <a href="" class="btn btn-success text-white"  data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">event</i></a>
          </div>
          
        </div>
        <div class="card-body">
          <table id="example" class="table " style="width:100%">
              <thead class="thead-light">
                  <tr>
                      <th> Event <i class="material-icons">swap_vert</i></th>
                      <th>Date <i class="material-icons">swap_vert</i></th>
                      <th>Venue<i class="material-icons">swap_vert</i></th>
                      <th>Action<i class="material-icons">swap_vert</i></th> 
                  </tr>
              </thead>  
              <tbody>
                <% eventsData.forEach(function(value,i) { %>
                  <tr>
                  <td data-toggle="modal" data-target="#exampleModalCenter2" onClick="show('<%=i %>')"><%= value.event %></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter2" onClick="show('<%=i %>')"><%= value.date %></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter2" onClick="show('<%=i %>')"><%= value.venue %></td>
                  <td onclick="deleteEvent('<%= value.id %>')"><a class="btn btn-danger btn-sm text-white"><i class="material-icons">delete</i></a></td>
                </tr>
               <% }) %>
              </tbody>
          </table>
         </div>
   </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group m-2">
                <label class="bmd-label-floating">Name</label>
                <input type="text" name='event-name' class="form-control-1">
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Venue</label>
                <input type="text" name='event-venue' class="form-control-1">
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Details</label>
                <textarea type="text" name='event-details' class="form-control-1" ></textarea>
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Date</label>
                <input type="text" name='event-date' class="form-control-1">
               </div>
               <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01"><span><div class="form-group d-flex justify-content-around m-2">

                    <a href="" class="btn btn-primary">Pick Image</a>
                   </div></span></label>
                </div>
              </div>
               

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group m-2">
                <label class="bmd-label-floating">Name</label>
                <input type="text" id="event-name" name='event-name' class="form-control-1">
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Venue</label>
                <input type="text" id="event-venue" name='event-venue' class="form-control-1">
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Details</label>
                <textarea type="text" id="event-details" name='event-details' class="form-control-1" ></textarea>
               </div>
               <div class="form-group m-2">
                <label class="bmd-label-floating">Date</label>
                <input type="text"id="event-date" name='event-date' class="form-control-1">
               </div>

               <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01"><span><div class="form-group d-flex justify-content-around m-2">

                    <a href="" class="btn btn-primary">Pick Image</a>
                   </div></span></label>
                </div>
              </div>
               

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
           
        } );
    } );
</script>
<script>

  $(document).ready(function() {
    navlinks= document.getElementsByClassName('nav-item'); 
    for(var i =0; i<navlinks.length; i++){
      var link = navlinks[i];
      link.className="nav-item"
    }
    document.getElementById('events').className='nav-item active'
 
   } );

    $(function() {
      $('input[name="event-date"]').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        locale: {
          format: 'M/DD hh:mm A'
        }
      });
    });
    function show(value){
        var index = parseInt(value);
        var events = JSON.parse(<%- JSON.stringify(Data2) %>)
        document.getElementById('event-name').value=events[index].event
        document.getElementById('event-date').value=events[index].date
        document.getElementById('event-details').value=events[index].details
        document.getElementById('event-venue').value=events[index].venue

        
    }

    function  deleteEvent(id){
      const data = { id };
      
      fetch('/events', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        alert('Success:'+ data.message )
        console.log('Success:' ,data, data.status);
        setTimeout(()=>{
          location.reload();
        },3000);
      })
      .catch((error) => {
        alert('Failed' + error.message)
        console.error('Error:', error.message);
        setTimeout(()=>{
          location.reload();
        },3000)
      });
          }
    </script>


<%- include('partials/footer'); -%>