<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Quotaions</h4>
          <div class="d-flex justify-content-between"><p class="card-category">Quotation Requests</p>
            <button class ="btn btn-success" onclick="location.reload(true)">
              <i class="material-icons">autorenew</i>
              </button></div>
        </div>
        <div class="card-body">
          <table id="example" class="table " style="width:100%">
              <thead class="thead-light">
                  <tr>
                      <th class="align-center"> Name <i class="material-icons">swap_vert</i></th>
                      <th>Mobile # <i class="material-icons">swap_vert</i></th>
                      <th>Email<i class="material-icons">swap_vert</i></th>
                      <th>Vehicle  <i class="material-icons">swap_vert</i></th>
                      <th>Date  <i class="material-icons">swap_vert</i></th>
                      <th></th>
                      <th>Action<i class="material-icons">swap_vert</i></th> 

                  </tr>
              </thead>
              <tbody>
                <% databse.forEach(function(value,i) { %>
                  <tr>
                  <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.contact %></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.mobile %></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.email %></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.vehicle%></td>
                  <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.ctime%></td>
                  <td><% if (value.recieved==true) { %>
                    <input type="checkbox" class="text-center m-auto"  />
                <% } else { %><input type="checkbox" class="text-center m-auto" checked /><%} %></td>
                  <td  onClick="deleteQuote('<%= value.id%>','<%= value.image%>')"><a class="btn btn-danger btn-sm text-white"><i class="material-icons">delete</i></a></td>
                </tr>
               <% }) %>
              </tbody>
          </table>
         </div>
   </div>
</div>
<div class="modal fade" id="messagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">NEW SMS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body">
            <form class="mb-5"  id="login-form">
                  <div class="form-group">
                    <label class="bmd-label-floating">Mobile Number</label>
                    <input type="text" name='mobile' placeholder="+263 789 567 657"  class="form-control-1">
                   </div>
                  <div class="form-group">
                    <label class="bmd-label-floating">Message</label>
                    <textarea rows="10"  name='message' class="form-control-1" ></textarea>
                  </div>
                  <div class="d-flex mt-3">
                      <button id="sendmessage" class="btn btn-success m-auto" style="width: 30%;"> Send</button>
                  </div>
                  <div id="error-div" class="text-danger text-center mt-3"></div>
            </form>
          </div>
          </div>
          
        
          </div>
        </div>

      </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Quotation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
              <h4 class="card-title "></h4>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active card-category" href="#profile" data-toggle="tab">
                      Details
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                <div class="row p-4 bg-light">
                  <div class="col-md-5 p-4 " id="towing-image" style="height: 250px; width: 230px;overflow:auto;
                  ">
                    hello
                  </div>
                  <div class="col-md-7 ">
                    <div class="row">
                      <div class="col-md-4 ">
                        <h5>Name</h5>
                        <h5>Number</h5>
                        <h5>Date</h5>
                        <h5>Email</h5>
                        <h5>Vehicle</h5>
                        <h5>Service</h5>
                      </div>
                      <div class="col-md-6">
                        <p id="contact">Contact</p>
                        <p id="phone">0783281382</p>
                        <p id="date">10 August</p>
                        <p id="email">10 August</p>
                        <p id="vehicle">BMW</p>
                        <p id="service">10 August</p>
                      </div>
                    </div>

                    <h5 class="mt-4 mb-0 pb-0"><strong>Details</strong></h5>
                    <p id="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quae.</p>

                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="close-btn" class="btn btn-secondary"  data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyB_FWRbwP_TtFeYQ8OXwj9WJuA2_wTqcrQ",
    authDomain: "farchis-bbe96.firebaseapp.com",
    databaseURL: "https://farchis-bbe96.firebaseio.com",
    projectId: "farchis-bbe96",
    storageBucket: "farchis-bbe96.appspot.com",
    messagingSenderId: "907377570025",
    appId: "1:907377570025:web:e51de55be0beaaedcec078",
    measurementId: "G-Y4SV39D0FF"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
           
        } );
    } );
    function showDetails(value) {
      var index = parseInt(value);
      var quotations = JSON.parse(<%- JSON.stringify(Data2) %>)
      document.getElementById('contact').innerText=quotations[index].contact
      document.getElementById('phone').innerText=quotations[index].mobile
      document.getElementById('date').innerText=quotations[index].ctime
      document.getElementById('vehicle').innerText=quotations[index].vehicle    
      document.getElementById('details').innerText=quotations[index].details  
      document.getElementById('email').innerText=quotations[index].email
      document.getElementById('service').innerText=quotations[index].service  
      document.getElementById('towing-image').innerHTML=`<img src='https://firebasestorage.googleapis.com/v0/b/farchis-bbe96.appspot.com/o/quotations%2F${quotations[index].image}?alt=media&token=03af8894-1e6b-4767-b717-53508b9ce565' style="height: 250px; width: 230px" />`
      var data = {read:true, id:quotations[index].id}
      fetch('/quotations', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })

      
    }
    $(document).ready(function() {
      navlinks= document.getElementsByClassName('nav-item'); 
      for(var i =0; i<navlinks.length; i++){
        var link = navlinks[i];
        link.className="nav-item"
      }
      document.getElementById('quotations').className='nav-item active'
   
     } );

    function  deleteQuote(id,image){
    var storageRef = firebase.storage().ref('quotations/'+image);
    storageRef.delete().then(() => {
    }).catch((error) => {
      swal({
        title: "Failed",
        text: "Failed to delete Quotation Request",
        icon: "warning",
        button: "close",
      })
      .then((value) => {
        location.reload(true);
    });
    });
      const data = { id };
      
      fetch('/quotations', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        swal({
          title: "Failed",
          text: "Quotation was deleted sucessfully ",
          icon: "success",
          button: "close",
        })
        .then((value) => {
          location.reload(true);
      });
      
      })
      .catch((error) => {
        swal({
          title: "Failed",
          text: "Failed to delete Quotation",
          icon: "warning",
          button: "close",
        })
        .then((value) => {
          location.reload(true);
      });
      });
          }
</script>


<%- include('partials/footer'); -%>