<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Towing</h4>
          <p class="card-category">Towing Requests</p>
        </div>
   <div class="card-body">
    <table id="example" class="table " style="width:100%">
        <thead class="thead-light">
            <tr>
                <th> Name <i class="material-icons">swap_vert</i></th>
                <th >Mobile # <i class="material-icons">swap_vert</i></th>
                <th>Vehicle  <i class="material-icons">swap_vert</i></th>
                <th>Date  <i class="material-icons">swap_vert</i></th>
                <th></th>
                <th>Action<i class="material-icons">swap_vert</i></th> 
            </tr>
        </thead>
        <tbody>
          <% databse.forEach(function(value,i) { %>
            <tr  >
            <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.contactPerson %></td>
            <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.contactNumber %></td>
            <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.vehicle %></td>
            <td data-toggle="modal" data-target="#exampleModalCenter" onClick="showDetails('<%=i %>')"><%= value.ctime%></td>
            <td><% if (value.recieved==true) { %>
              <input type="checkbox" class="text-center m-auto"  />
          <% } else { %><input type="checkbox" class="text-center m-auto" checked /><%} %></td>
            <td><a class="btn btn-danger btn-sm text-white" onclick="deleteTow('<%=value.id%>')"><i class="material-icons">delete</i></a></td>
          </tr>
         <% }) %>
        </tbody>
    </table>
   </div>
   </div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Towing Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#profile" data-toggle="tab">
                          <i class="material-icons">sms</i> Details
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#messages" data-toggle="tab">
                          <i class="material-icons">code</i> Location
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <div class="row p-4 bg-light">
                      <div class="col-md-5 p-4 " id="towing-image" style="height: 250px; width: 230px;overflow:auto;
                      ">
                      
                      </div>
                      <div class="col-md-7 ">
                        <table>
                            <thead>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                              <tr class="row">
                                <td class="col-md-6"><h5>Name</h5></td>
                                <td class="col-md-6"><p id="contact">Allensahdjhasgdjasgdjhgasjdhgas</p></td>
                              </tr>
                              <tr class="row">
                                <td class="col-md-6"><h5>Number</h5></td>
                                <td class="col-md-6"><p id="phone"> Allensahdjhasgdjasgdjhgasjdhgas</p></td>
          
                              </tr>
                              <tr class="row">
                                <td class="col-md-6"><h5>Date</h5></td>
                                <td class="col-md-6"><p  id="date">Allensahdjhasgdjasgdjhgasjdhgas</p></td>
                              </tr>
                              <tr class="row">
                                <td class="col-md-6"><h5>Vehicle</h5></td>
                                <td class="col-md-6"><p id="vehicle"> Allensahdjhasgdjasgdjhgasjdhgas</p></td>
                              </tr>
                            </tbody>

                        </table>

                        <h5 class="mt-4 mb-0 pb-0"><strong>Details</strong></h5>
                        <p id="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quae.</p>
        
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="messages">
        
                     <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                      <iframe style="background-color: black; width:100%; height:100%" src="https://maps.google.com/maps?q=loc:37.751000,-97.822000&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
            
        } );
    } );
   function showDetails(value) {
      var index = parseInt(value);
      var towing = JSON.parse(<%- JSON.stringify(Data2) %>)
      document.getElementById('contact').innerText=towing[index].contactPerson
      document.getElementById('phone').innerText=towing[index].contactNumber
      document.getElementById('date').innerText=towing[index].ctime
      document.getElementById('vehicle').innerText=towing[index].vehicle    
      document.getElementById('details').innerText=towing[index].narration  
      document.getElementById('towing-image').innerHTML=`<img src='https://firebasestorage.googleapis.com/v0/b/farchis-bbe96.appspot.com/o/towing%2F${towing[index].image}?alt=media&token=ba155af2-3a8d-4019-9e7f-85dcf77cda55' style="height: 250px; width: 230px" />`
      document.getElementById('messages').innerHTML=`
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe style="background-color: black; width:100%; height:100%" src="https://maps.google.com/maps?q=loc:${towing[index].latitude},${towing[index].longitude}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div> ` 

      var data = {read:true, id:towing[index].id}
      fetch('/towing', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })


    }
    

    
    $(document).ready(function() {
      navlinks= document.getElementsByClassName('nav-item'); 
      for(var i =0; i<navlinks.length; i++){
        var link = navlinks[i];
        link.className="nav-item"
      }
      document.getElementById('towing').className='nav-item active'
   
     } );
      var myModalEl = document.getElementById('exampleModalCenter')
      console.log(myModalEl)
      myModalEl.addEventListener('hidden.bs.modal', function (event) {
            // do something...
            location.reload()
      })
  function  deleteTow(id){
const data = { id };

fetch('/towing', {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => {
  alert('Success:'+ data.message )
  console.log('Success:' ,data, data.status);
  setTimeout(()=>{
    location.reload();
  },3000);
})
.catch((error) => {
  alert('Failed' + error.message)
  console.error('Error:', error.message);
  setTimeout(()=>{
    location.reload();
  },3000)
});
    }

   
</script>


<%- include('partials/footer'); -%>