<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Users</h4>
          <div class="d-flex justify-content-between">
            <p class="card-category">Registerd Mobile App Users</p>
            <button class ="btn btn-success" onclick="location.reload(true)">
              <i class="material-icons">autorenew</i>
              </button></div>
        </div>
   <div class="card-body">
    <table id="example" class="table " style="width:100%">
        <thead class="thead-light">
            <tr>
                <th> Name <i class="material-icons">swap_vert</i></th>
                <th>Mobile #<i class="material-icons">swap_vert</i></th>
                <th>Email<i class="material-icons">swap_vert</i></th>
                <th>Action<i class="material-icons">swap_vert</i></th> 
            </tr>
        </thead>
        <tbody id='tbody'>
          <% userData.forEach(function(value,i) { %>
            <tr onClick="show()">
            <td ><%= value.fullname %></td>
            <td><%= value.mobile %></td>
            <td><%= value.email %></td>
            <td onClick="deleteUser('<%= value.id %>')"><a class="btn btn-danger btn-sm text-white"><i class="material-icons">delete</i></a></td>
          </tr>
         <% }) %>
        </tbody>
        
    </table>
   </div>
   </div>
</div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
        } );
    } );

    $(document).ready(function() {
      navlinks= document.getElementsByClassName('nav-item'); 
      for(var i =0; i<navlinks.length; i++){
        var link = navlinks[i];
        link.className="nav-item"
      }
      document.getElementById('users').className='nav-item active'
   
     } );

    function  deleteUser(id){
      

      swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this user's details!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          const data = { id }; 
          fetch('/users', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })
          .then(response => response.json())
          .then(data => {
            swal({
              title: "Success",
              text: "User was deleted successfully",
              icon: "success",
              button: "close",
            })
            .then((value) => {
              location.reload(true);
          });     
          })
          .catch((error) => {
            swal({
              title: "Failed",
              text: "Failed to delete user",
              icon: "warning",
              button: "close",
            })
            .then((value) => {
              location.reload(true);
          });
       
          });
        } else {
          return
        }
      });
      
      
          }





    
</script>


<%- include('partials/footer'); -%>