<%- include('partials/header'); -%>

<div class="content">
    <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Vehicles</h4>
          <p class="card-category">Registered Vehicles</p>
        </div>
        <div class="card-body">
          <table id="example" class="table " style="width:100%">
              <thead class="thead-light">
                  <tr>
                      <th> Vehicle <i class="material-icons">swap_vert</i></th>
                      <th>Registation#<i class="material-icons">swap_vert</i></th>
                      <th>Color<i class="material-icons">swap_vert</i></th>
                      <th>Year<i class="material-icons">swap_vert</i></th>
                      <th>Owner<i class="material-icons">swap_vert</i></th>
                      <th>Mobile<i class="material-icons">swap_vert</i></th>
                      <th>Action<i class="material-icons">swap_vert</i></th> 
                  </tr>
              </thead>
              <tbody>
                <% databse.forEach(function(value) { %>
                  <tr>
                  <td><%= value.vehicle %></td>
                  <td><%= value.regnumber %></td>
                  <td><%= value.color %></td>
                  <td><%= value.year %></td>
                  <td><%= value.ownerName %></td>
                  <td><%= value.ownerMobile %></td>
                  <td><a onClick="deleteCar('<%= value.id %>')" class="btn btn-danger btn-sm text-white"><i class="material-icons">delete</i></a></td>
                </tr>
               <% }) %>
              </tbody>
             
          </table>
         </div>
   </div>
</div>
<script src="js/plugins/jquery-3.5.1.js"></script>
<script src="js/plugins/jquery.dataTables.min.js"></script>
<script src="js/plugins/jqueryui.min.js"></script>
<script src="js/plugins/rowGroup.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[2, 'asc']],
           // rowGroup: {
           //     dataSrc: 2
           // }
        } );
    } );
    $(document).ready(function() {
      navlinks= document.getElementsByClassName('nav-item'); 
      for(var i =0; i<navlinks.length; i++){
        var link = navlinks[i];
        link.className="nav-item"
      }
      document.getElementById('vehicles').className='nav-item active'
   
     } );

    function  deleteCar(id){
      const data = { id };
      
      fetch('/vehicles', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        alert('Success:'+ data.message )
        console.log('Success:' ,data, data.status);
        setTimeout(()=>{
          location.reload();
        },3000);
      })
      .catch((error) => {
        alert('Failed' + error.message)
        console.error('Error:', error.message);
        setTimeout(()=>{
          location.reload();
        },3000)
      });
          }
</script>


<%- include('partials/footer'); -%>